﻿@model CRM.Web.Models.ProjectModel

@{
    var clientId = Request.Url.Segments.Last();
}

@section Assets
{
    <script src="@Url.Content("~/Assets/Projects.js")"></script>
}

<div class="editor-label">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Description)
    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Description)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Category)
    @Html.TextBoxFor(model => model.Category, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Category)
</div>
