﻿@model CRM.Web.Models.ProjectModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Util.js")"></script>
}

<div class="container">
    <div class="col-md-12">
        <h2 class="alert-info">Add project</h2>

        <div>
            @using (Ajax.BeginForm(null, null, new { clientId = Model.ClientId }, new AjaxOptions() { OnSuccess = "util.ajaxRedirect", HttpMethod = "Post" }, new { @class = "summary-dialog" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.Partial("_AddEditProject", Model)

                <input id="ClientId" name="ClienId" type="hidden" value=@Model.ClientId>
                <p>
                    <input type="submit" class="add btn btn-info" value="Add project" />
                </p>
            }
        </div>
    </div>
</div>