﻿@model CRM.Web.Models.ProjectModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Util.js")"></script>
}

<div class="container">
    <div class="col-md-12">
        <h2 class="alert-info">Edit project</h2>

        <div>
            @using (Ajax.BeginForm(null, null, new { clientId = Model.ClientId }, new AjaxOptions() { OnSuccess = "util.ajaxRedirect", HttpMethod = "Put" }, new { @class = "summary-dialog" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.Partial("_AddEditProject", Model)
                @Html.HiddenFor(x => x.Id)

                <input id="ClientId" type="hidden" value=@Model.ClientId>
                <input id="Id" type="hidden" value=@Model.Id>

                <p>
                    <input type="submit" class="edit btn btn-info" value="Edit" />
                </p>
            }
        </div>
    </div>
</div>