﻿@model CRM.Web.Models.ClientForContactModel

@{
    ViewBag.Title = "Index";
}

@section Assets
{
    <script src="@Url.Content("~/Assets/Projects.js")"></script>
}

<div class="row">
    <div class="col-md-12">
        <h2 class="alert-info">Projects</h2>

        <input type="hidden" id="clientId" name="clientId" value=" @Model.Id" />
        <p>
            <a href="/Project/AddProject?clientId=@Model.Id" class="btn btn-info">Add new project</a>
        </p>
        <p>
            <label>Search by name:</label>
            <input type="text" name="SearchName" id="name">
            <input type="submit" class="btnSearch btn btn-info" id="search-click" value="Search" />
        </p>

        <div class="alert-info">
            <table id="Projects" class="table table-sm">
                <thead class="active">
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>