﻿@model CRM.Web.Models.ContactModel

@{
    var clientId = Request.Url.Segments.Last();
}

@*@Html.EditorFor(x => x.FirstName)*@

<div class="form-group">
    @Html.LabelFor(model => model.FirstName)
    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.FirstName)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.LastName)
    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.LastName)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Role)
    @Html.TextBoxFor(model => model.Role, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Role)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Email)
    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Email)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Phone)
    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Phone)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.City)
    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Address)
    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Address)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ZipCode)
    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ZipCode)
</div>
