﻿@model CRM.Web.Models.ContactModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Util.js")"></script>
}

<div class="container">
    <div class="col-md-12">
        <h2 class="alert-info">Add contact</h2>

        <div>
            @using (Ajax.BeginForm(null, null, new { clientId = Model.ClientId }, new AjaxOptions() { OnSuccess = "util.ajaxRedirect", HttpMethod = "Post" }, new { @class = "summary-dialog" }))
            {
                @Html.ValidationSummary(true)
                @Html.AntiForgeryToken()
                @Html.Partial("_AddEditContact", Model)

                <input id="ClientId" name="ClientId" type="hidden" value=@Model.ClientId>

                <p>
                    <button type="submit" class="add btn btn-info">Add</button>
                </p>
            }
        </div>
    </div>
</div>
