﻿@model CRM.Web.Models.ContactModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Util.js")"></script>
}

<div class="container">
    <div class="col-md-12">
        <h2 class="alert-info">Edit contact</h2>

        @using (Ajax.BeginForm(null, null, new { clientId = Model.ClientId }, new AjaxOptions() { OnSuccess = "util.ajaxRedirect", HttpMethod = "Put" }, new { @class = "summary-dialog" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)

            <input id="ClientId" type="hidden" value=@Model.ClientId>
            <input id="Id" type="hidden" value=@Model.Id>

            @Html.Partial("_AddEditContact", Model)
            <p>
                <button type="submit" class="edit btn btn-info">Edit</button>
            </p>
        }
    </div>
</div>