﻿@model CRM.Web.Models.ClientForContactModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Contacts.js")"></script>
}

<div class="col-md-12">
    <h2 class="alert-info">Contacts</h2>

    <input type="hidden" id="clientId" name="clientId" value=" @Model.Id" />
    <p>
        <a href="/Contact/AddContact?clientId=@Model.Id" class="btn btn-info">Add new contact</a>
    </p>
    <p>
        <label>Search by first name:</label>
        <input type="text" name="SearchName" id="name">
        <input type="submit" class="btnSearch btn btn-info" id="search-click" value="Search" />
    </p>

    <div class="alert-info">
        <table id="Contacts" class="table table-sm">
            <thead class="active">
                <tr>
                    <th>First name</th>
                    <th>Last name</th>
                    <th>Role</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip code</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>