﻿@model CRM.Web.Models.ClientModel

<div class="form-group">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Name)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.City)
    @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.City)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Address)
    @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Address)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ZipCode)
    @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.ZipCode)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.State)
    @Html.TextBoxFor(model => model.State, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.State)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.PhoneNumber)
    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.PhoneNumber)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Website)
    @Html.TextBoxFor(model => model.Website, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Website)
</div>

<div class="form-group">
    @Html.LabelFor(model => model.Notes)
    @Html.TextBoxFor(model => model.Notes, new { @class = "form-control" })
    @Html.ValidationMessageFor(model => model.Notes)
</div>
