﻿@model CRM.Web.Models.ClientModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Util.js")"></script>
}

<div class="container">
    <div class="col-md-12">
        <h2 class="alert-info">Add client</h2>

        @using (Ajax.BeginForm(null, null, new AjaxOptions() { OnSuccess = "util.ajaxRedirect", HttpMethod = "Post" }, new { @class = "summary-dialog" }))
        {
            @Html.AntiForgeryToken()
            @Html.Partial("_AddEditClient", Model)

            <div>
                <p>
                    <button type="submit" class="add btn btn-info" value="Insert">Add</button>
                </p>
                <button class="btn btn-info">
                    @Html.ActionLink("Go back to clients", "Index")
                </button>
            </div>
        }
    </div>
</div>
