﻿@model CRM.Web.Models.ClientModel

@section Assets
{
    <script src="@Url.Content("~/Assets/Util.js")"></script>
}

<div class="container">
    <div class="col-md-12">
        <h2 class="alert-info">Edit client</h2>

        @using (Ajax.BeginForm(null, null, new AjaxOptions() { OnSuccess = "util.ajaxRedirect", HttpMethod = "Put" }, new { @class = "summary-dialog" }))
        {
            @Html.ValidationSummary(true)
            @Html.AntiForgeryToken()
            @Html.HiddenFor(x => x.Id)
            @Html.Partial("_AddEditClient", Model)

            <input id="Id" name="Id" type="hidden" value=@Model.Id>

            <div>
                <p>
                    <button type="submit" class="edit btn btn-info" value="Edit">Edit</button>
                </p>
                <button class="btn btn-info">
                    @Html.ActionLink("Go back to clients", "Index")
                </button>
            </div>
        }
    </div>
</div>
