﻿@section Assets
{
    <script src="@Url.Content("~/Assets/Clients.js")"></script>
}

<div class="col-md-12">
    <h2 class="alert-info">Clients</h2>

    <p>
        <a href="/Client/AddClient" class="btn btn-info">Add new client</a>
    </p>
    <p>
        <label>Search by name:</label>
        <input type="text" name="SearchName" id="name">
        <input type="submit" class="btnSearch btn btn-info" id="search-click" value="Search" />
    </p>

    <div class="alert-info">
        <table id="Clients" class="table table-sm">
            <thead class="active">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Zip code</th>
                    <th>State</th>
                    <th>Phone number</th>
                    <th>Website</th>
                    <th>Notes</th>
                    <th>Actions</th>
                    <th>Contacts</th>
                    <th>Projects</th>
                <tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
